.logo-section {
  width: 100%;
  padding: 10rem;
}

.section-subscribe {
  width: 100%;
  padding: 50rem 0;
  height: auto;
  background-image: url("/Images/mainbanner.jpg");
  background-size: cover;
  background-position: center center;
}

.section-tiles {
  width: 100%;
  height: auto;
  background-color: $background-color-section-tiles;
}
